* {
  margin: 0;
  padding: 0;
}

body {
  background: #0b0b0f;
  color: white;
  box-sizing: border-box;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  scroll-behavior: smooth;
}

/* light-dark converter */

html.light-mode {
  filter: invert(0.85) hue-rotate(180deg);
}

/* exceptions light-dark mode -> important*/

html.light-mode img {
  filter: invert(1) hue-rotate(180deg);
}

html.light-mode .dropdown-menu {
  background-color: #000000;
}

html.light-mode nav.lin::before {
  background-color: violet;
}

/* header */

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  transition: 0.5s ease;
  z-index: 1000;
}

header.shrink {
  padding: 0.8rem 2rem;
  background: rgba(11, 13, 16, 0.65);
  backdrop-filter: blur(6px);
  border-bottom: 4px solid rgba(224, 102, 102, 0.08);
  transition: 0.5s ease;
}

.left {
  display: flex;
  gap: 2rem;
}
.left img {
  width: 80px;
  height: 50px;
  background: transparent;
}
.logo {
  font-weight: 800;
  letter-spacing: -0.02em;
  font-size: 1.8rem;
  background: linear-gradient(135deg, #ffffff, #b9a9ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* lamp */

.lamp-design {
  margin-left: 50px;
}

.lamp-design {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.lamp-design svg {
  color: white;
  width: 30px;
  height: 30px;
  background-color: #0b0b0f;
  transition: 0.5s ease;
}

.lamp-design svg:hover {
  transform: scale(1.3);
}

.light-mode .lamp-design .light {
  display: none;
}

.light-mode .lamp-design .dark {
  display: block;
}

.lamp-design .dark {
  display: none;
}

/* naaaaaaaaaaaav */

nav {
  display: flex;
  gap: 5rem;
}

nav .lin {
  position: relative;
  text-decoration: none;
  color: #aaa;
  font-size: 1rem;
  transition: 0.5s;
}
nav .lin:hover {
  color: white;
}

nav .lin::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: violet;
  transition: 0.4s ease;
}

nav .lin:hover::before {
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right .lin {
  position: relative;
  text-decoration: none;
  color: #aaa;
  font-size: 1rem;
  transition: 0.5s;
}
.right .lin:hover {
  color: white;
}

.right .lin::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background-color: violet;
  transition: 0.4s ease;
}

.right .lin:hover::before {
  width: 100%;
}

.google {
  font-size: 1rem;
  color: #bbb;
  text-decoration: none;
}

.btn {
  background-color: white;
  color: black;
  padding: 0.625rem 1rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn:hover {
  background-color: rgb(228 228 231);
  transform: scale(0.95);
  transition: 0.5s ease;
}

/* meeeeeeeeeeeeeeeeeeeeenu */

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.25rem;
  transition: 0.5s ease;
}

nav .dropdown:hover .arrow {
  color: white;
}

.arrow svg {
  margin-left: 0.25rem;
  transition: 0.5s ease;
}

.dropdown {
  position: relative;
  margin-top: -0.25rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  background: #111;
  border-radius: 15px;
  padding: 0.5rem 0;
  min-width: 450px;

  opacity: 0;
  transform: translateY(6px);
  pointer-events: none;
  transition: all 0.5s ease;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px 20px;
}

.dropdown.bold {
  font-size: 100px;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  gap: 10px;

  min-width: 150px;
  padding: 0.8rem 1rem;
  margin: 10px 0;
  color: #aaa;
  text-decoration: none;
  border-radius: 30px;
  /* background-color: rgba(128, 128, 128, 0.116); */
  transition: 0.5s;
}

.dropdown-menu a img {
  width: 25px;
  height: 25px;
  transform: translateY(-8px);
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  color: white;
  font-size: 14px;
}

.desc {
  font-size: 12px;
  color: #777;
  letter-spacing: 1px;
}

nav .dropdown-menu a:hover {
  background: #222;
  color: white;
}

nav .dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

nav .dropdown:hover .arrow svg {
  transform: rotate(180deg);
  transition: 0.5s ease;
  background: none;
  color: #aaa;
}

/* maaaaaaaaaaaaaaaain */
main section {
  position: relative;
  min-height: 100vh;
  background: #0b0b0f;
}

.hero::before {
  content: "";
  position: absolute;

  top: -150px;
  right: 0;

  width: 800px;
  height: 800px;

  background: radial-gradient(
    circle,
    rgba(200, 180, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  filter: blur(80px);
  opacity: 0.8;
  pointer-events: none;
}

.hero::after {
  content: "";
  position: absolute;

  top: 20%;
  right: 25rem;

  width: 500px;
  height: 500px;

  background: radial-gradient(
    circle,
    rgba(200, 180, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  filter: blur(100px);
  opacity: 0.6;
  pointer-events: none;
}

section.light::before,
section.light::after {
  display: none;
}

.hero-content {
  position: relative;
}

/* foooooooooooooooter */

.light-mode footer {
  filter: invert(1) hue-rotate(180deg);
}

.social-container {
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.light-mode footer .social-container {
  background-color: #e8dfd6;
}

.social-container a {
  position: relative;

  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  box-shadow: 1px 10px 5px rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
  margin-top: 30px;
}

.light-mode footer .social-container a {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.social-container svg {
  fill: var(--accent-color);
  height: 30px;
}

.social-container a:hover {
  background-color: var(--accent-color);
}
.social-container a:hover svg {
  fill: white;
}

.social-container a::before {
  content: attr(--name);
  position: absolute;
  opacity: 0;
  border-radius: 50px;
  color: white;
  background-color: white;
  padding: 0.8rem 1.2rem;

  pointer-events: none;
  transform: translateY(0);
  transform: rotate(35deg);

  background-color: var(--accent-color);
  transition: 0.3s cubic-bezier(0.42, 0, 0.44, 1.68);
  z-index: 1;
}

.social-container a:hover::before {
  opacity: 1;
  transform: translateY(-70px) rotate(0);
}

.social-container a::after {
  content: "";
  position: absolute;
  pointer-events: none;
  border: 10px solid;
  border-color: var(--accent-color) transparent transparent transparent;
  transform: translateY(20px) rotate(35deg);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.42, 0, 0.44, 1.68);
}

.social-container a:hover::after {
  opacity: 1;
  transform: translateY(-41px) rotate(0);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.social-container .border-animation {
  height: 0;
  position: relative;
  display: inline-block;
}

.social-container .border-animation::before,
.border-animation::after {
  --angle: 0deg;
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    red,
    blue,
    green,
    yellow,
    cyan,
    gray,
    transparent 150%
  );
  width: var(--wid);
  height: 50px;
  border-radius: 100px;
  left: 50%;
  transform: translate(-50%, 72%) rotate(35deg);
  flex-shrink: 0;
  animation: 2.5s spin linear infinite;
  transition: 0.3s cubic-bezier(0.42, 0, 0.44, 1.68);
  opacity: 0;
  pointer-events: none;
}

html.light-mode .social-container .border-animation:has(a:hover)::after,
html.light-mode .social-container .border-animation:has(a:hover)::before {
  height: 52px;
}
html.light-mode .social-container .border-animation:has(a:hover)::before {
  transform: translate(-50%, -34px);
}

.social-container .border-animation::after {
  filter: blur(1.3rem);
  transform: translate(-50%, -174%) rotate(35deg);
}

.social-container .border-animation:has(a:hover)::after {
  opacity: 0.7;
  transform: translate(-50%, -157px) rotate(0);
}
.social-container .border-animation:has(a:hover)::before {
  opacity: 1;
  transform: translate(-50%, -33px) rotate(0);
}

.social-container .temp {
  opacity: 0;
  cursor: default;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}