.tes-lam {
  max-width: 900px;
  margin: auto;
}
.tes-lam section {
  /* background: rgb(6, 5, 5); */
  margin-bottom: 20px;
  padding: 20px;
  /* border-radius: 10px;
  border-right: 5px solid #333; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tes-lam h2 {
  color: #e6c409c1;
  margin-top: 0;
}
.tes-lam .specs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.tes-lam .card {
  flex: 1;
  min-width: 300px;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-out;
}
.tes-lam .card:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.3);
}
.tes-lam .card img {
  min-width: 400px;
  max-height: 224px;
  margin-bottom: 20px;
}
.tes-lam .card ul {
  padding-left: 20px;
}
.tes-lam .tagline {
  color: #e6c409c1;
  font-style: italic;
  margin-bottom: 30px;
}
.tes-lam image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* mobile */
@media (max-width : 900px) {
  .specs {
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
  }
  header {
    min-width: 400px;
  }
  #footer {
    min-width: 470px;
  }
}